*{ 
    padding: 0;
    margin: 0;
}

body{
    background-color:  rgb(40,40,40);
}

.navBar >* {
    background-color: rgb(45, 45, 45);
    padding:  0 0 0 1em;
}

.logo {
    text-decoration: underline;
    border-top: 1px solid goldenrod;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 4em;
    color: rgb(228, 228, 228);
    text-align: left;
    display: flex;
    justify-content: left;
    height: 90px;
    text-shadow: 3px 3px 3px rgb(110, 110, 110);
    text-shadow: 2px 2px 4px rgb(155, 155, 155);
    font-family: 'Vollkorn', serif;
}

.menu {
    border-bottom: 2px solid goldenrod;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: right;
    text-shadow: 1px 2px 2px rgb(66, 66, 66);
}

.opcionMenu {
    padding: .5em;
    text-transform: uppercase;
    color: rgb(219, 219, 219);
    text-decoration: none;
    filter: blur(2px);
}

.opcionMenu:hover {
    text-decoration: underline goldenrod;
    background-color: rgb(80, 80, 80);
    text-shadow: 3px 3px 3px rgb(148, 148, 148);
    text-shadow: 2px 2px 2px rgb(158, 158, 158);
    filter: blur(0px);
}

.enlace:link, .enlace:visited, .enlace:active {
    color: black;
    text-decoration: none;
}

.cuerpoPrincipal {
    background-image: url(elegante3.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #424242;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cuerpoPrincipal{
   width: 100%;
}

.cajaChica {
    background-color: rgb(160, 22, 17);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #b8b8b8;
    text-shadow: 1px 2px 3px rgb(0, 0, 0);
    border: 1px solid rgb(29, 29, 29);
    font-family: 'Vollkorn', serif;
}

span1 {
    margin: 30px;
    font-size: 70px;
}

span2 {
    margin: 10px;
    font-size: 40px;
}

footer {
    border-top: 1px solid rgb(65, 65, 65);
    background-color: rgb(201, 201, 201);
}

.cajaGrandeFooter {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


#google {
    margin: 30px;
    background-image: url(googleNoColor.png);
    background-size: 50px;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    
}

#google:hover {
    background-image: url(googleColor.png);
    
}

.busqueda {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-shadow: 2px 2px 2px rgb(151, 151, 151);
    display: flex;
    text-align: center;
    align-items: center;
}

#query {
    background-color: #cecece;
    border-color: rgb(95, 95, 95);
    height: 20px;
    width: 70px;
    text-align: center;
}

.insta {
    margin: 30px;
    background-image: url(instagramNoColor.png);
    background-size: 50px;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}

.insta:hover {
    background-image: url(instagramColor.png);
}

.facebook {
    margin: 30px;
    background-image: url(facebookNoColor.png);
    background-size: 50px;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}

.facebook:hover {
    background-image: url(facebookColor.png);
}

#copyright {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #cecece;
    font-size: 30px;
    font-weight: 100;
    background-color: rgb(27, 27, 27);
    width: 100%;
    display: flex;
    justify-content: center;
}

#copyright span {
    margin-left: 5px;
}

#copyright span::before {
    content: 'Programador';
    color: rgb(202, 202, 202);
    animation: palabra 15s infinite;
}

#copyright span::after {
    color: rgb(201, 201, 201);
    animation: palbra 15s infinite;
    width: calc(100%+8px);
    position: absolute;
    border-left: 2px solid rgb(223, 223, 223);
    right: -6px;
    animation: cursor .6s infinite,typing 20s steps(15) infinite;
}

@keyframes palabra{
    0%, 20%{
        content: 'Programador';
        color: white;
    }
    21%, 40%{
        content: 'Estudiante';
        color:rgb(238, 183, 43)
    }
    41%, 60%{
        content: '...';
        color: rgb(45, 231, 169);
    }
    61%, 80%{
        content: '¿Alo?';
        color:rgb(66, 153, 211)
    }
    81%, 100%{
        content:'Zalazar Joel';
        color:rgb(96, 64, 238);
    }
}